<!DOCTYPE html>

<html>
  <head>
    <title>Designer Works（仮）</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/designerdetails.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <header class="clearfix">
      <h1><a href="index.html">Designer Works</a></h1>
      <nav class="login">
        <ul>
          <li><a href="designerindex.html">制作者一覧</a></li>
          <li><a href="login.html">LOGIN</a></li>
        </ul>
      </nav>
      <nav class="mypage">
        <ul>
          <li><a href="designerindex.html">制作者一覧</a></li>
          <li><a href="mypage.html">MYPAGE</a></li>
        </ul>
      </nav>
    </header>
    
    
      <div class="creatorbox">
        <div class="creatoricon">
          <img src="../images/creator/1.jpg" alt=""/>
        </div>
        <div class="creatorname">
          <span>Pen Name</span>
          <p>なまえなまえ</p>
        </div>
        <p class="return"><a href="designerindex.html">制作者一覧へ戻る</a></p>
      </div>
      <!------ソート機能------->
      <section id="SearchBox">
      <ul id="SearchBoxSort">
        <li id="SearchAll"><a>ALL</a></li>
        <li id="SearchUpDeat">UP DATA</li>
        <li id="SeartReview">REVIEW</li>
      </ul>
      
      <!-----フィルタ検索機能------>
      <div class="SearchBoxfilter">
        <input type="checkbox" name="Checkbox-chara" value="キャラ" id="chara" />
        <label for="chara" class="check_css">キャラ</label>
        <input type="checkbox" name="Checkbox-bg" value="背景" id="bg" />
        <label for="bg" class="check_css">背景</label>
        <input type="checkbox" name="Checkbox-item" value="アイテム" id="item" />
        <label for="item" class="check_css">アイテム</label>
      </div>
    </section>
<!--      <div id="wrap">-->
      <div class="creatoristbox clearfix">
        <ul>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
          <li>
            <img src="../images/top/kawaii.jpg" alt=""/>
          </li>
        </ul>
      </div>  
<!--    </div>-->
    
    <footer>
      <h1>Designer Works</h1>
      <nav>
      <ul>
        <li><a>お問い合わせ</a></li>
        <li><a>プライバシーポリシー</a></li>
      </ul>
      </nav>
      <p>copyright©2018.system</p>
    </footer>
  </body>
</html>
