<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
  <head>
    <title>Designer Works（仮）</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/edit.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <header>
      <h1><a href="#">Designer Works</a></h1>
      <nav class="login">
        <ul>
          <li><a>制作者一覧</a></li>
          <li><a>LOGIN</a></li>
        </ul>
      </nav>
      <nav class="mypage">
        <ul>
          <li><a>制作者一覧</a></li>
          <li><a>MYPAGE</a></li>
        </ul>
      </nav>
    </header>
    
    <div id="wrap">
      <div id="Edit">
        <h1>Add New</h1>
        <div class="editbox">
          <div class="box1">
            <div class="img-box"></div>
          </div>
          <div class="box2">
            <div class="img-box"></div>
          </div>
          <div class="box3">
            <div class="img-box"></div>
          </div>
          <div class="box4">
            <div class="img-box"></div>
          </div>
          <div class="box5">
            <div class="img-box"></div>
          </div>
          <div class="box6">
            <div class="img-box"></div>
          </div>
          <div class="box7">
            <div class="img-box"></div>
          </div>
          <div class="box8">
            <div class="img-box"></div>
          </div>
        </div>
     </div> 
    </div>
    
    <footer>
      <h1>Designer Works</h1>
      <nav>
      <ul>
        <li><a>お問い合わせ</a></li>
        <li><a>プライバシーポリシー</a></li>
      </ul>
      </nav>
      <p>copyright©2018.system</p>
    </footer>
  </body>
</html>
