<!DOCTYPE html>
<html>
  <head>
    <title>Designer Works（仮）</title>
    <meta charset="utf-8" />
    <!------css------>
    <link href="../css/top.css" rel="stylesheet" type="text/css"/>
    <!------js------->
    <script src="../js/jquery-3.3.1.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script src="../js/style.js" type="text/javascript"></script>
    <!--slick用-->
    <link href="../js/slick/slick-theme.css" rel="stylesheet" type="text/css"/>
    <link href="../js/slick/slick.css" rel="stylesheet" type="text/css"/>
    <script src="../js/slick/slick.min.js" type="text/javascript"></script>

  </head>
 
  <body>
    <!--------ヘッダー------->
    <header>
      <h1><a href="#">Designer Works</a></h1>
      <nav class="login">
        <ul>
          <li><a>制作者一覧</a></li>
          <li><a>LOGIN</a></li>
        </ul>
      </nav>
      <nav class="mypage">
        <ul>
          <li><a>制作者一覧</a></li>
          <li><a>MYPAGE</a></li>
        </ul>
      </nav>
    </header>
   
    <div id="wrap">

    <section id="Top">
      <!------トップスライダー----->
      <div class="slider-wrapper">
          <div class="slider-item"></div>
          <div class="slider-item"></div>
          <div class="slider-item"></div>
      </div>
    </section>
    <!------ソート機能------->
    <section id="SearchBox">
      <ul id="SearchBoxSort">
        <li id="SearchAll"><a>ALL</a></li>
        <li id="SearchUpDeat">UP DATA</li>
        <li id="SeartReview">REVIEW</li>
      </ul>
      <!-----フィルタ検索機能------>
<!--      <ul id="SearchBoxfilter">
        <li id="SearchChekbox">
          <input type="checkbox" name="Checkbox-chara" value="キャラ">
          <label for="chara" class="check_css">キャラ</label>
          <input type="checkbox" name="Checkbox-bg" value="背景">
          <label for="bg" class="check_css">背景</label>
          <input type="checkbox" name="Checkbox-item" value="アイテム">
          <label for="item" class="check_css">アイテム</label>
        </li>
      </ul>-->
      <div class="SearchBoxfilter">
        <input type="checkbox" name="Checkbox-chara" value="キャラ" id="chara" />
        <label for="chara" class="check_css">キャラ</label>
        <input type="checkbox" name="Checkbox-bg" value="背景" id="bg" />
        <label for="bg" class="check_css">背景</label>
        <input type="checkbox" name="Checkbox-item" value="アイテム" id="item" />
        <label for="item" class="check_css">アイテム</label>
      </div>
    </section>

    <div class="masonry" data-masonry='{ "itemSelector": ".item", "columnWidth": 400 }'>
      <div class="item">
        <img src="../images/top/kawaii.jpg" alt="女の子" width="400" height="300"/>
      </div>
      <div class="item">
        <img src="../images/top/kawaii2.jpg" alt=""　width="300" height="200"/>
      </div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
      <div class="item"></div>
    </div>
    </div>
    <footer>
      <h1>Designer Works</h1>
      <nav>
      <ul>
        <li><a>お問い合わせ</a></li>
        <li><a>プライバシーポリシー</a></li>
      </ul>
      </nav>
      <p>copyright©2018.system</p>
      <div id="pagetopbutton">
      <div>
        <a href="#">
          <img src="../images/top/pagetop.jpg" alt="ページトップボタン"/>
        </a>
      </div>
    </div>
    </footer>
    
    

  </body>

<!--<script type="text/javascript" src="../js/index.js"></script>-->
</html>
