<!DOCTYPE html>

<html>
  <head>
    <title>Designer Works（仮）</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/mypage.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
   <header class="clearfix">
      <h1><a href="index.html">Designer Works</a></h1>
      <nav class="login">
        <ul>
          <li><a href="designerindex.html">制作者一覧</a></li>
          <li><a href="login.html">LOGIN</a></li>
        </ul>
      </nav>
      <nav class="mypage">
        <ul>
          <li><a href="designerindex.html">制作者一覧</a></li>
          <li><a>MYPAGE</a></li>
        </ul>
      </nav>
    </header>
    
    <div id="contentsbox" class="clearfix">
      <div id="LeftBox">
        <h1>My Page</h1>
        <h2>プロフィール</h2>
        <form method="post" action="example.cgi">
        <div class="creatoricon"></div>
        <p><input type="file" class="file_edit" name="datafile"></p>
        <div class="usernamebox">
        <span>Pen Name</span>
        <p>なまえなまえ</p>
        </div>
        <p class="editbox"><input type="button" name="user" value="編集"></p>
        <div class="buttonbox">
        <p><input type="submit" class="reg" value="変更内容を登録"></p>
        <p><input type="submit" class="delete" value="アカウント削除"></p>
        </div>
        </form>
      </div>

      <div id="RightBox">
        <div class="rightcontents">
        <span>作品</span>
        <p class="addbutton"><input type="button" value="作品を追加"></p>
          <div class="myistbox">
            <ul>
              <li>
                <div class="imgbox"></div>
                <div class="textbox">
                  <p>作品タイトル</p>
                  <p class="category">カテゴリー</p>
                </div>
              </li>
              <li>
                <div class="imgbox"></div>
                <div class="textbox">
                  <p>作品タイトル</p>
                  <p class="category">カテゴリー</p>
                </div>
              </li>
              <li>
                <div class="imgbox"></div>
                <div class="textbox">
                  <p>作品タイトル</p>
                  <p class="category">カテゴリー</p>
                </div>
              </li>
              <li>
                <div class="imgbox"></div>
                <div class="textbox">
                  <p>作品タイトル</p>
                  <p class="category">カテゴリー</p>
                </div>
              </li>
              <li>
                <div class="imgbox"></div>
                <div class="textbox">
                  <p>作品タイトル</p>
                  <p class="category">カテゴリー</p>
                </div>
              </li>
              <li>
                <div class="imgbox"></div>
                <div class="textbox">
                  <p>作品タイトル</p>
                  <p class="category">カテゴリー</p>
                </div>
              </li>
              <li>
                <div class="imgbox"></div>
                <div class="textbox">
                  <p>作品タイトル</p>
                  <p class="category">カテゴリー</p>
                </div>
              </li>
              <li>
                <div class="imgbox"></div>
                <div class="textbox">
                  <p>作品タイトル</p>
                  <p class="category">カテゴリー</p>
                </div>
              </li>
              <li>
                <div class="imgbox"></div>
                <div class="textbox">
                  <p>作品タイトル</p>
                  <p class="category">カテゴリー</p>
                </div>
              </li>
              <li>
                <div class="imgbox"></div>
                <div class="textbox">
                  <p>作品タイトル</p>
                  <p class="category">カテゴリー</p>
                </div>
              </li>
              <li>
                <div class="imgbox"></div>
                <div class="textbox">
                  <p>作品タイトル</p>
                  <p class="category">カテゴリー</p>
                </div>
              </li>
              <li>
                <div class="imgbox"></div>
                <div class="textbox">
                  <p>作品タイトル</p>
                  <p class="category">カテゴリー</p>
                </div>
              </li>
              <li>
                <div class="imgbox"></div>
                <div class="textbox">
                  <p>作品タイトル</p>
                  <p class="category">カテゴリー</p>
                </div>
              </li>
              <li>
                <div class="imgbox"></div>
                <div class="textbox">
                  <p>作品タイトル</p>
                  <p class="category">カテゴリー</p>
                </div>
              </li>
              <li>
                <div class="imgbox"></div>
                <div class="textbox">
                  <p>作品タイトル</p>
                  <p class="category">カテゴリー</p>
                </div>
              </li>
            </ul>  
          </div>
        </div>
      </div>
    </div>
    
    
    
    
    <footer class="clearfix">
      <h1>Designer Works</h1>
      <nav>
      <ul>
        <li><a>お問い合わせ</a></li>
        <li><a>プライバシーポリシー</a></li>
      </ul>
      </nav>
      <p>copyright©2018.system</p>
    </footer>
  </body>
</html>
