<!DOCTYPE html>

<html>
  <head>
    <title>Designer Works（仮）</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/registration.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
    <header class="clearfix">
      <h1><a href="index.html">Designer Works</a></h1>
      <nav class="login">
        <ul>
          <li><a href="designerindex.html">制作者一覧</a></li>
          <li><a href="login.html">LOGIN</a></li>
        </ul>
      </nav>
      <nav class="mypage">
        <ul>
          <li><a href="designerindex.html">制作者一覧</a></li>
          <li><a href="mypage.html">MYPAGE</a></li>
        </ul>
      </nav>
    </header>
    
    <div id="wrap" class="clearfix">
      <div id="Registration">
        <h1>Sign Up</h1>
        <div class="preview">
          <div class="previewbox"></div>
           <label for="imgadd">
                  <p>ファイルを選択</p>
                  <input type="file" id="imgadd"/>
           </label>
        </div>
        <div class="form">
        <form method="post" action="example.cgi">
          <p>ユーザー名<br>
          <input type="text" name="user"></p>
          <p>パスワード<br>
          <input type="password" name="password"></p>
          <p><input type="button" value="新規登録" class="button" onclick="newRegistration();"></p>
        </form>
        </div>
     </div> 
    </div>
    
    <footer class="clearfix">
      <h1>Designer Works</h1>
      <nav>
      <ul>
        <li><a>お問い合わせ</a></li>
        <li><a>プライバシーポリシー</a></li>
      </ul>
      </nav>
      <p>copyright©2018.system</p>
    </footer>
  </body>
</html>
