<!DOCTYPE html>

<html>
  <head>
    <title>Designer Works（仮）</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/mypage.css" rel="stylesheet" type="text/css"/>
  </head>
  <body>
   <header class="clearfix">
      <h1><a href="index.html">Designer Works</a></h1>
      <nav class="login">
        <ul>
          <li><a href="designerindex.html">制作者一覧</a></li>
          <li id="loginlink"><a onclick="logout();">LOGOUT</a></li>
        </ul>
      </nav>
    </header>


    <div id="contentsbox" class="clearfix">
      <div id="LeftBox">
        <h1>My Page</h1>
        <h2>プロフィール</h2>
        <div id="mypagebox">
          <div class="creatoricon" id="creatoricon">
            <form id="mypagepreview" name="mypagepreview">
              <img id="mypageicon" v-show="uploadedImage" :src="uploadedImage" />
            </form>
          </div>
          <form id="mypageiconform" name="mypageicon" method="POST" enctype="multipart/form-data">
            <label for="imgadd">
              <p>ファイルを選択</p>
              <input type="file" id="imgadd" class="file_edit" v-on:change="onFileChange" name="datafile">
            </label>
            <div class="clearfix"></div>
          </form>
        </div>
        <div class="usernamebox">
        <span>Pen Name</span>
        <div id="penname">
          <input type="text" class="penname" />
          <!--<input type="text" v-model="inputMessage" /><input type="button" value="完了" @click="getMessage">
          <p>{{ message }}</p>-->
        </div>
        </div>
        <!-- <p class="editbox"><input type="button" name="user" value="編集" onclick="editUserName();"></p>-->
        <div class="buttonbox">
        <p><input type="submit" class="reg" value="変更内容を登録" onclick="sendAccountEdit();"></p>
        <p><input type="submit" class="delete" value="アカウント削除" onclick="deleteAccount();"></p>
        </div>
      </div>

      <div id="RightBox">
        <div class="rightcontents">
        <span>作品</span>
        <p class="addbutton"><input type="button" value="作品を追加" onclick="moveEdit();"></p>
          <div class="myistbox">
            <ul class="illustbox">

            </ul>
          </div>
        </div>
      </div>
    </div>

   <!------ライトボックス----->
   <div class="lightbox_view">
     <div class="close">
       <img src="../images/top/batuicon.png" alt="閉じるボタン"/>
     </div>
     <div class="formbox">
       <form id="editForm" method="post">
         <div class="leftcontents">
          <div class="imgbox" id="editimgbox"></div>
         </div>
         <div class="rightcontents">
           <p class="title">タイトル<input id="title" type="text" name="title"></p>
            <div class="selectwrap">
              <p for="category">カテゴリ
                <select id="categoryList" name="category">
                  <option value="1">キャラ</option>
                  <option value="2">背景</option>
                  <option value="3">アイテム</option>
                </select>
                </p>
            </div>
           <div class="buttonbox">
             <p><input type="button" value="変更内容を登録" onclick="sendIllustEdit();"></p>
           <p><input type="button" value="削除" onclick="deleteIllust();"></p>
           </div>
         </div>
       </form>
     </div>
   </div>


    <footer class="clearfix">
      <h1>Designer Works</h1>
      <nav>
      <ul>
        <li><a>お問い合わせ</a></li>
        <li><a>プライバシーポリシー</a></li>
      </ul>
      </nav>
      <p>copyright©2018.system</p>
    </footer>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="../js/jquery-3.3.1.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.min.js"></script>
<script type="text/javascript" src="../js/mypage.js"></script>
<script type="text/javascript" src="../js/lightbox.js"></script>
  </body>
</html>
