@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

/*--------------------------------------------------
	1. document
--------------------------------------------------*/

body {
  text-align: justify;
  font-size: 14px;
  font-family: "メイリオ", sans-serif;
	line-height: 20px;
	letter-spacing: 2px;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}