@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

/*--------------------------------------------------
	1. document
--------------------------------------------------*/

body {
  text-align: justify;
  font-size: 14px;
  font-family: "Noto Sans Japanese", sans-serif;
	line-height: 20px;
	letter-spacing: 2px;
}

#wrap {
  position: relative;
  top: -75px;
  margin:0 auto;
}
/*--------------------------------------------------
	2. header
--------------------------------------------------*/

header {
  position: relative;
  z-index: 9999;
  width: 100%;
  height: 75px;
  background: rgba(0,0,0,0.5);
}

header h1 {
  float: left;
  width: 300px;
  padding: 25px 0 25px 50px;
}

header h1 a {
  display: block;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}

header nav.login {
  float: right;
  width: 280px;
  padding: 30px 25px;
}

header nav.mypage {
  float: right;
  width: 280px;
  padding: 30px 25px;
/*  display: none;*/
}

header li {
  float: left;
  width: 140px;
  text-align: center;
  list-style: none;
}

header li a {
  font-size: 14px;
  font-family: "メイリオ";
  color: #fff;
}

/*--------------------------------------------------
	3. main
--------------------------------------------------*/

#Top {
  width: 100%;
  height: 500px;
}
.slider-wrapper {
  width: 100%;
  height: 500px;
  background: #99ffff;
}

#SearchBox {
  width: 100%;
  min-width: 960px;
  height: 45px;
  margin: 15px 0;
  background: #000;
}

#SearchBoxSort {
  width: 320px;
  height: 45px;
  float: left;
  position: relative;
  top: 0;
  left: 0;
  margin-left: 250px;
}

#SearchBoxSort li {
    float: left;
    width: 105px;
    height: 45px;
    padding: 15px 0;
    box-sizing: border-box;
    background: #ccc;
    list-style: none;
    text-align: center;
}


/*--------------------------------------------------
	4. footer
--------------------------------------------------*/

footer {
  width: 100%;
  height: 70px;
  background: #000;
}

footer h1 {
  float: left;
  width: 280px;
  padding: 25px 0 25px 50px;
  font-size: 24px;
  color: #fff;
}

footer nav {
  float: left;
  width: 280px;
  padding: 30px 25px;
}

footer nav ul {
  width: 800px;
  margin: 0 auto;
}

footer li {
  float: left;
  width: 140px;
  text-align: center;
  list-style: none;
}

footer li a {
  font-size: 12px;
  font-family: "メイリオ";
  color: #fff;
}

footer p {
  float: right;
  width: 205px;
  margin-right: 36px;
  padding: 25px;
  color: #fff;
}