@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
}

/*--------------------------------------------------
	1. document
--------------------------------------------------*/

body {
  text-align: justify;
  font-size: 14px;
  font-family: "メイリオ", sans-serif;
	line-height: 20px;
	letter-spacing: 2px;
}

#wrap {
  position: relative;
  top: -75px;
  margin:0 auto;
}
/*--------------------------------------------------
	2. header
--------------------------------------------------*/

header {
  position: relative;
  z-index: 9999;
  width: 100%;
  height: 75px;
  background: rgba(0,0,0,0.5);
}

header h1 {
  float: left;
  width: 300px;
  padding: 25px 0 25px 50px;
}

header h1 a {
  display: block;
  font-size: 30px;
  color: #fff;
  text-decoration: none;
}

header nav.login {
  float: right;
  width: 280px;
  margin: 0 50px;
}

header nav.mypage {
  float: right;
  width: 280px;
  margin: 0 50px;
  display: none;
}

header li {
  float: left;
  width: 140px;
  height: 75px;
  text-align: center;
  list-style: none;
}

header li:hover {
  background: rgba(204,204,204,0.5);
}

header li a {
  display: block;
  margin: 30px 0;
  font-size: 14px;
  color: #fff;
}

/*--------------------------------------------------
	3. main
--------------------------------------------------*/

#Top {
  width: 100%;
  height: 600px;
}
.slider-wrapper {
  overflow: hidden;
  width: 100%;
  height: 600px;
  background: #99ffff;
}

.slider-item {
  width: 100%;
  height: 600px;
  background: url("../images/top/miko.jpg") no-repeat;
  background-size: cover;
}

#SearchBox {
  width: 100%;
  min-width: 960px;
  height: 45px;
  margin: 15px 0;
  background: #000;
}

#SearchBoxSort {
  width: 320px;
  height: 45px;
  float: left;
  position: relative;
  top: 0;
  left: 0;
  margin-left: 34%;
}

#SearchBoxSort li {
    float: left;
    width: 105px;
    height: 45px;
    padding: 15px 0;
    box-sizing: border-box;
    border-left: solid 2px #fff;
    color: #fff;
    list-style: none;
    text-align: center;
}

#SearchBoxSort li#SearchAll:hover {
  background: rgba(255,200,188,0.8);
}

#SearchBoxSort li#SearchUpDeat:hover {
  background: rgba(255,187,187,0.8);
}

#SearchBoxSort li#SeartReview:hover {
  background: rgba(255,124,127,0.8);
}
/*：：：：チェックボックス：：：：*/
.SearchBoxfilter {
  float: left;
  width: 300px;
  height: 45px;
  margin: 0 10px;
}

.check_css {
  margin: 15px 0;
  color: #fff;
}

input[type=checkbox] {
  display: none;
}

.check_css {
  -webkit-transition: background-color 0.2s linear;
  transition: background-color 0.2s linear;
  position: relative;
  display: inline-block;
  padding: 0 0 0 34px;
  vertical-align: middle;
  cursor: pointer;
}

.check_css:hover:after {
  border-color: #0171bd;
}

.check_css:after {
  -webkit-transition: border-color 0.2s linear;
  transition: border-color 0.2s linear;
  position: absolute;
  top: 50%;
  left: 15px;
  display: block;
  margin-top: -10px;
  width: 10px;
  height: 10px;
  border: 2px solid #ccc;
  border-radius: 6px;
  content: '';
}
.check_css:before {
  -webkit-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
  position: absolute;
  top: 50%;
  left: 19px;
  display: block;
  margin-top: -6px;
  width: 6px;
  height: 6px;
  background-color: #0171bd;
  content: '';
  opacity: 0;
}
input[type=checkbox]:checked + .check_css:before {
  opacity: 1;
}


#SeartReview {
  border-right: solid 2px #fff;
}

#SearchBoxfilter div {
  float: left;
  width: 90px;
  
}
/*：：：：：作品一覧：：：：：*/

#wrapper {
  position: relative;
  max-width: 900px;
  margin: 0 auto;
}

.masonry {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

.item {
  float: left;
  width: 140px;
  margin: 10px;
  padding: 8px;
  border: 1px solid #eee;
}

.item.x2 {
  width: 320px;
}

.item img {
  width: 100%;
}



/*--------------------------------------------------
	4. footer
--------------------------------------------------*/

footer {
  position: relative;
  width: 100%;
  height: 70px;
  background: #000;
}

footer h1 {
  float: left;
  width: 280px;
  padding: 25px 0 25px 50px;
  font-size: 24px;
  color: #fff;
}

footer nav {
  float: left;
  position: relative;
  top: 0;
  left: 0;
  margin-left: 15%;
  width: 280px;
  padding: 30px 25px;
  
}

footer nav ul {
  width: 800px;
  margin: 0 auto;
}

footer li {
  float: left;
  width: 140px;
  text-align: center;
  list-style: none;
}

footer li a {
  font-size: 12px;
  font-family: "メイリオ";
  color: #fff;
}

footer p {
  float: right;
  width: 205px;
  margin-right: 36px;
  padding: 25px;
  color: #fff;
}

#pagetopbutton {
  width: 60px;
  height: 60px;
  background: #ccc;
  position: absolute;
  top: 0;
  right: 0;
  margin: -60px 20px;
}